.cart{
    margin: 50px 30px;
}
.title{
    margin-bottom: 50px;
    margin-left: 10px;
}
.img_prod{
    height: 200px;
    padding-right: 100px;
}
p{
    font-size: 20px;
}
.get_prod{
   
    margin-left: 18%;
}